@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #334155;
}

/* .card-details:hover {
    transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);

}

.card-details {

}

.card-front {
    backface-visibility: hidden;
    

}

.card-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;


} */